 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>
<body>


	{% if name in facebook_friends %}
    <h1> yes {{name}} in the list </h1>
	{% else %}
	<h1> {{name}}  is not in the list </h1>
	{% endif %}
<style>
	h1{
		color: white;
	}
</style>



</body>
</html>
